<!DOCTYPE html>
<html lang="lv-LV">

<head>

    <title>Start(it)</title>
    <link rel="stylesheet" href="../css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="../css/custom.css" media="screen" title="no title" charset="utf-8">
    <link rel="icon" href="../images/Start(IT)SmallLogo.png">

</head>

<body>
        <nav class="navbar navbar-default navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="../index.html"><img src="../images/Start(IT)Logo.png" alt="Start(IT)"></a>
                    </div>
                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="../index.html">Sākums<span class="sr-only">(current)</span></a></li>
                            <li class="dropdown active">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pirmā diena
                                    <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="../views/Git.html">GIT tests</a></li>
                                    <li><a href="../views/VSCode.html">Agile/Scrum tiripiri bla bla bla</a></li>
                                    <li class="active"><a href="">HTML tags<span class="sr-only">(current)</span></a></li>
                                    <li><a href="../views/CssSelektori.html">CSS Selektori</a></li>
                                </ul>
                            </li>
                            <li><a href="../views/PlainJavaScript.html">Plain JavaScript</a></li>
                            <li><a href="../views/JavaScriptDom.html">JavaScript + DOM</a></li>
                            <li><a href="../views/MacibuMetodologija.html">Mācību Metodoloģija</a></li>
                        </ul>
                    </div>
                    <!--/.nav-collapse -->
                </div>
            </nav>
        <div id="wrap">
                <div id="main">
                    
<H1 class="text-center">HTML elementi</H1>
<p>Šodien mēs jau iemācījāmies kas ir HTML elementi un kā ar tiem darboties.<br>
Mēs jau esam paspējuši apskatīt tādus HTML elementus, kā:</p>
<br>
<p>
<ul>
    <li> Konteiners "< div >"</li>
    <li>Virsraksts "< h1 >, < h2 >, ..., < h6 >"</li>
    <li>Rindkopa "< p >" </li>
    <li>Atribūts "< a >"</li>
    <li>Rindas atdalītājs "< br >"</li>
</ul>
<p> Tagad apskatīsim vēl šos elementus</p><br>
<ol>
<li>Nenumurēts saraksts "< ul >" aļa unordered list</li>
<li>Saraksta objekts " < li > " </li>
<li> Numurēts sakārtots saraksts " < ol >" aļa ordered list</li>
<li> Attēlu tags "< img >" <img src="../images/Start(IT)Logo.png" alt="Start(it)" width="104"></li>
<li>Poga "< button >" <button> Uzspied!</button></li>
<li><b>Treknraksts</b> "< b >"</li>
</ol>
Vairāk informācijas par HTML elementiem mēs varam atrast <a href="https://www.w3schools.com/default.asp">
w3schools</a> mājaslapā. </p>

<p>orem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sit amet libero ultricies, consequat nulla sed, elementum leo. Cras eget justo non lacus pharetra faucibus. Nam sagittis libero dui, commodo fermentum felis sodales a. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt leo vitae enim viverra efficitur. Suspendisse ut rutrum nibh, at aliquam lectus. Sed eget libero ligula. Maecenas facilisis id purus eu eleifend. Quisque euismod, nunc eget dignissim eleifend, turpis justo blandit libero, nec sodales magna tellus a magna. Nunc sollicitudin ut nulla eu elementum. Cras ut nulla dolor. Aenean vestibulum purus at sem molestie eleifend. Curabitur ipsum tortor, maximus ut nisl a, commodo rhoncus justo. Nulla ac vulputate lorem, nec euismod nisi.</p>

        <p>Suspendisse eget accumsan libero. Sed commodo, quam nec consequat lobortis, dui nisi scelerisque nunc, vitae pharetra augue massa vel nisl. Etiam massa sapien, dapibus vel est at, eleifend fermentum nibh. Donec sed semper mauris. Sed fermentum erat ut posuere aliquam. Curabitur ut imperdiet felis. Aenean commodo condimentum scelerisque. Phasellus pharetra lacus rutrum ligula scelerisque, vel pulvinar diam porttitor. Duis ornare, diam laoreet tempus rutrum, mi arcu commodo elit, sit amet tempor arcu neque id nunc. Integer sed vestibulum odio. Donec non semper dui. Sed sed arcu cursus, tristique erat nec, consectetur nibh. Praesent metus urna, ultricies sed cursus id, pellentesque sit amet turpis. Mauris auctor nec tortor in feugiat. Nunc eu fermentum magna, sed imperdiet quam. </p>
</div>
            </div>
</body>

<footer class="mastfoot mt-auto container-fluid text-center bg-lightgray">
    <div class="copyrights">
        <p>Start(IT) © 2019
            <br>
            <span>Izstrādātājs: Komanda 3</span>
            <br>
            <span>Īpašnieks: Start(IT)</span>
            <br>
            <span>VEF Kultūras pils</span>
        </p>
    </div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="../javaScript/bootstrap.min.js"></script>
<script type="text/javascript" src="../javaScript/custom.js"></script>

</html>